.logout-button
{
  padding: 5px 10px;
  position: absolute;
  top: 10px;
  right: 105px;
      
}

.update{
  background-color: green;
  border-color: green;
}

.update:active,
.update:hover,
.update:focus{
  background-color: green;
  border-color: green;
}

:not(.btn-check)+.btn:active {
  background-color: green;
  border-color: green;
}

.background {
  background-image: url("bg2.jpeg");
  background-size: contain;
  background-repeat: repeat;
}


